<h1>このサイトについて</h1>
<p>
  このサイトは、動物の写真を投稿するコミュニティとして作成したサイトです。</br>
  </br>
  このサイトは、制作者が転職のために制作したポートフォリオです。</br>
  就職先が決まりましたら、サービス終了します。</br>
  </br>
  なにか不備がありましたら以下のアドレスまでご連絡いただけると助かります。</br>
  kinako.aiai555@gmail.com
</p>