<li>
    <%= image_tag user.icon.url, class: 'index_user_icon' if user.icon? %>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "以下のユーザーを削除しますか?\n#{user.name}" } %>
  <% end %>
</li>