<h1>検索画面</h1>
<div class="row">
    <div class="col-md-4">
    <!-- ログインユーザー-->
    </div>
    <!-- ユーザー一覧-->
    <div class="col-4">
        <ul class="users">
        <% @users.each do |user| %>
            <%= render @users %>
        <% end %>
        </ul>
    </div>
    <!-- サイドメニュー-->
    <div class="col-4">
        <ul class="list-group pt-2">
            <%= link_to "注目", "#", class: "list-group-item"%>
            <%= link_to "検索", users_path, class: "list-group-item"%>
            <%= link_to "通知", "#", class: "list-group-item"%>
        </ul>
    </div>
</div>