<h1>検索画面</h1>
<div class="row">
    <div class="col-md-4">
    <!-- ログインユーザー-->
    </div>
    <!-- ユーザー一覧-->
    <div class="col-4">
        <input type="text" class="w-75" placeholder="検索ワード">
        <div class=" btn btn-primary search_btn">検索</div>
        <ul class="nav nav-tabs">
            <!--classにactiveを加えてタブのデザインを切り替える -->
            <li class="nav-item"><div class="btn nav-link search_user">ユーザー</div></li>
            <li class="nav-item"><div class="btn nav-link search_post">投稿</div></li>
            <li class="nav-item"><div class="btn nav-link search_recent_post">最近の投稿</div></li>
        </ul>
        <ul class="users">
        <% @users.each do |user| %>
            <%= render @users %>
        <% end %>
        </ul>
    </div>
    <!-- サイドメニュー-->
    <div class="col-4">
        <%= render 'shared/menu_bar' %>
    </div>
</div>