<div class="row">
    <aside class="col-sm-4">
        <section class="user_info">
            <h1>
                <%= image_tag 'TentanativeIcon.PNG', :size =>'80x80' %>
                <%= @user.name %>
            </h1>
        </section>
    </aside>
</div>