<h1>
    <%= image_tag @user.icon, class: 'user_info_icon' if @user.icon.attached? %>
    <%= image_tag 'TentanativeIcon.PNG', class: 'user_info_icon' unless @user.icon.attached? %>
    <%= @user.name %>
</h1>