<div id="share_micropost_form">
    <% if current_user.sharering_micropost?(@micropost) %>
        <%= render 'microposts/share_micropost' %>
    <% else %>
        <%= render 'microposts/unshare_micropost' %>
    <% end %>
</div>
