<div class="modal fade" data-backdrop="true" id="modal_show_users" tabindex="-1">
    <div class="modal-dialog h-100">
        <div class="modal-content h-100">
            <div class="modal-body modal_users overflow-auto">
                <%= render 'microposts/sharering_or_favoriting_users' %>
            </div>
        </div>
    </div>
</div>