$unCheched_color: gray;
$unFavorite_hover_color: #f5deb3;
$unCheched_hover_color: silver;
$active_size: 1.1em;


// シェアアイコン

.share_micropost_icon  { 
    color: $unCheched_color;
    &:hover  { color:     $unCheched_hover_color; }
    &:active { font-size: $active_size; }
}

.unshare_micropost_icon {
    color: limegreen ;
    &:hover  { color:   palegreen; }
    &:active { font-size: $active_size; }
}

// お気に入りアイコン

.favorite_micropost_icon  { 
    color: $unCheched_color;
    &:hover  { color:     $unCheched_hover_color; }
    &:active { font-size: $active_size; }
}

.unfavorite_micropost_icon {
    color: #EDBC6C;
    &:hover  { color:   #f5deb3; }
    &:active { font-size: $active_size; }
}

// 画像追加アイコン
.add_pictures_icon {
    color:   #4682b4;
    font-size: 1.1em;
    &:hover  { color:   #4169e1; }
    &:active { font-size: 1.2em; }
}
