<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="text-right text-muted">
            <%= link_to "このサイトについて", about_path, class: "text-muted" %>
        </div>
    </div>
</footer>